<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Mental Health Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <div class="side_bar">
        <div class="profile">
            <div class="logo">Mental Health Assessment</div>
        </div>
        <ul>
            <li><a class="active" href="home"><i class="fas fa-qrcode"></i>Home</a></li>
            <li><a href="eda"><i class="fas fa-chart-bar"></i>EDA</a></li>
            <li><a href="detector"><i class="fas fa-heartbeat"></i>Diagnosis</a></li>
            <li><a href="model_parameter"><i class="fas fa-cogs"></i>Model Parameters</a></li>
        </ul>
    </div>

    <section>
        <div class="glass content_card">
            <div class="header_text">
                Self Identifying Mental Health Status
            </div>
            <div style="margin-top:20px;">
                <p>
                    <span class="highlight">P</span>sychological instability is a major public health problem, affecting millions of people worldwide. Machine learning (ML) techniques have the potential to revolutionize the diagnosis and treatment of psychological instability by providing fast, accurate, and affordable screening tools. This project presents a novel ML-based approach for detecting psychological instability using a stacked model ensemble of three base models: SVM, random forest, and decision tree with xgboost as a meta model.
                </p>
                <p>
                    <span class="highlight">T</span>he proposed approach is integrated with a sleek, modern web interface developed using HTML/CSS and Flask. The user interface allows users to provide their inputs and receive a probability score for psychological instability. If the probability score is greater than 0.5, the user is asked to answer additional questions to assess the severity of their symptoms and classify the type of psychological instability (depression, anxiety, bipolarity, or PTSD), along with actionable prevention tips.
                </p>
            </div>
        </div>
    </section>

    {% include 'chatbot.html' %}
</body>
</html>